<div class="container">
  <h1 class="my-4">Browse All Products</h1>
  
  <div class="row">
    {{#each products}}
      <div class="col-sm-6 col-md-4" style="padding: 25px">
        <div class="img-thumbnail">
          <a href="/product/{{this._type}}/{{this._id}}">
            <img src="{{this.imagepath}}" alt="{{this.title}}{{this.Title}}" class="img-responsive">
          </a>
          <h3><a href="/product/{{this._type}}/{{this._id}}" style="text-decoration: none; color: inherit;">{{this.title}}{{#unless this.title}}{{this.Title}}{{/unless}}</a></h3>
          <p class="Description">
            {{#if this.shortDescription}}
              {{this.shortDescription}}
            {{else if this.description}}
              {{this.description}}
            {{else}}
              {{this.Title}}
            {{/if}}
          </p>
          <div class="clearfix">
            <div class="price pull-left" style="margin-bottom: 10px;">Price: ${{this.Price}}</div>
          </div>
          <div class="clearfix" style="margin-top: 10px;">
            <a href="/product/{{this._type}}/{{this._id}}" class="btn btn-info btn-block" role="button" style="margin-bottom: 8px;">
              <i class="fas fa-eye"></i> View Details
            </a>
            {{#if (eq this._type 'dogfood')}}
              <a href="/cart/add/dogfood/{{this._id}}" class="btn btn-primary btn-block" role="button">
                <i class="fas fa-shopping-cart"></i> Add to Cart
              </a>
            {{else}}
              <a href="/cart/add/supply/{{this._id}}" class="btn btn-primary btn-block" role="button">
                <i class="fas fa-shopping-cart"></i> Add to Cart
              </a>
            {{/if}}
          </div>
        </div>
      </div>
    {{else}}
      <div class="col-12">
        <div class="alert alert-warning text-center">
          <h4>No products available</h4>
          <p>Please check back later.</p>
        </div>
      </div>
    {{/each}}
  </div>
</div>
