<ul class="product">
    <h1>DOG FOOD BRANDS</h1>
    <!--<div class="category">-->
        <!--<h2>Categories</h2>-->
        <!--<a href="http://localhost:3000/shop/supply" class="btn btn-primary pull-right" role="button">Supplies</a>-->
        <!--<a href="/" class="btn btn-primary pull-right" role="button">Dogfoods</a>-->
    <!--</div>-->
    <div class="row">
        {{# each diets}}
            {{# each this}}
                <div class="col-sm-6 col-md-4" style="padding: 25px">
                    <div class="img-thumbnail">
                        <a href="/product/dogfood/{{this._id}}">
                            <img src="{{this.imagepath}}" alt="..." class="img-responsive">
                        </a>
                        <h3><a href="/product/dogfood/{{this._id}}" style="text-decoration: none; color: inherit;">{{this.title}}</a></h3>
                        <p class="Description">{{#if this.shortDescription}}{{this.shortDescription}}{{else}}{{this.description}}{{/if}}</p>
                        <div class="clearfix" style="margin-top: 15px;">
                            <div class="price" style="margin-bottom: 10px;">Price: ${{this.Price}}</div>
                        </div>
                        <div class="clearfix">
                            <a href="/product/dogfood/{{this._id}}" class="btn btn-info btn-sm pull-left" role="button"><i class="fas fa-eye"></i> View</a>
                            {{#if @root.isAuthenticated}}
                                <a href="/cart/add/dogfood/{{this._id}}" class="btn btn-primary btn-sm pull-right" role="button"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                            {{else}}
                                <a href="/login" class="btn btn-secondary btn-sm pull-right" role="button" title="Login to add to cart"><i class="fas fa-lock"></i> Login to Buy</a>
                            {{/if}}
                        </div>
                    </div>
                </div>
            {{/each}}
        {{/each}}
    </div>
</div>






