<div class="product">
    <div class="row">
        {{#if data}}
            {{# each data}}
                <div class="col-sm-6 col-md-4" style="padding: 25px">
                    <div class="img-thumbnail">
                        <img src="{{imagepath}}" alt="..." class="img-responsive">
                        <h3>{{title}}</h3>
                        <p class="Description">{{description}}</p>
                        <div class="clearfix">
                            <div class="price pull-left">Price:${{Price}}</div>
                            <a href="#" class="btn btn-primary pull-right" role="button"><i class="fas fa-shopping-cart"></i>Add to cart</a>
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<a href="#" class="btn btn-primary pull-right" role="button">Buy Now</a>
                        </div>
                    </div>
                </div>
            {{/each}}
        {{else}}
            <h3>Search for not found</h3>
        {{/if}}
    </div>
</div>